body{
    background-color: aquamarine;
}

.fir {
    max-height:200px;
    border: 2px solid red;
    overflow: visible;
}

.sec {
    margin-top: 100px;
    max-height:200px;
    border: 2px solid red;
    overflow: hidden;
}


.thi {
    margin-top: 20px;
    max-height:200px;
    border: 2px solid red;
    overflow: scroll;
}

.for{
    margin-top: 20px;
    max-height:200px;
    border: 2px solid red;
    overflow: auto;
}



